@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  padding-left: 30px;
  margin-top: 20px;
}

.set-card {
  margin-top: 15px;
  margin-bottom: 25px;
}

.set-card input {
  height: 40px;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
}

hr {
  width: 96%;
  margin: auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: auto;
  padding: 30px;
}

.card {
  margin: 10px;
}

.card img {
  width: 150px;
}

.shuffle-button {
  margin-left: 30px;
  margin-top: 15px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
}
